@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-quicksand text-sm text-slate-800 md:text-base;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  .navbar-fixed {
    @apply fixed top-0 left-0 backdrop-blur-sm z-50;
  }

  .multiline-trancate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  pre.ql-syntax {
    @apply p-4 rounded;
  }
}
